/*PALETA: color: #5893D4, #D49958, #543716, #FCF7F2, #163454, #F2F7FC;*/

/*ESTILOS GENERALES*/
*{ 
    padding: 0; /*ningún elemento tiene relleno adicional en su interior*/
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #F2F7FC;
}

header {
    width: 100%;
    background-color: #5893D4;
}

#tituloGeneral {

    text-align: center;
    background-color: #163454;
    color: #F2F7FC;
    padding: 20px;
    font-size: 2.5em;

}

main {
    min-height: 75vh;
}

.contenido {
    margin: 30px;
}

.articulos {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
}

.secciones{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

/*Navegacion*/

#btn-menu {
    display: none;
}

header label {
    display: none;
    width: 40px;
    height: 40px;
    padding: 0.25%;
}

header label:hover {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.3);
}

.menu ul {
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
}

.menu ul li {
    flex-grow: 1;
    text-align: center;
    border-right: 1px solid #F2F7FC;
}

.menu ul li:hover {
    background: rgba(0, 0, 0, 0.3);
}

.menu ul li a {
    display: block;
    padding: 15px 10px;
    color: #F2F7FC;
    text-decoration: none;
    font-weight: bold;
    font-size: 0.9em;
}

/*Agendar citas deshabilitado*/
#agendaCitasVista{
    display: none;
}

/*Botón Cerrar Sesión*/
#cerrarSesion {
    display: none;
}

.menu ul li button {
    display: block;
    width: 100%;
    height: 100%;
    background-color: #5893D4;
    background: rgba(255, 0, 0, 0.3);
    color: #F2F7FC;
    text-decoration: none;
    font-weight: bold;
    font-size: 0.9em;
    padding: 0 10px;
}

.menu ul li button:hover {
    background: rgba(0, 0, 0, 0.3);
}

/*Footer*/
footer {
    position: static;
    width: 100%;
    background-color: #333;
    color: #F2F7FC;
    text-align: center;
    padding: 20px 0;
}

footer p {
    margin-bottom: 10px;
}

footer a {
    color: #F2F7FC;
    text-decoration: none;
    transition: color 0.3s ease;
}

footer a:hover {
    color: #F2F7FC;
}


/*INICIO*/

/*Animacion*/
.animacion {
    position: relative;
    display: flex;
    justify-content: center;
}

#logo {
    width: 300px;
    height: 300px;
    animation: rotation 3s infinite ;
}

@keyframes rotation{
    from {
        transform: scaleX(1);
    }
    to {
        transform: scaleX(-1); 
    }
}

/*Descripcion*/
.descripcion {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    font-size: 1.5em;
}

.descripcion h2 {
    text-align: center;
    font-size: 2em;
}


.descripcion p {
    padding-top: 20px;
}

/*Slider*/
.contenedorSlider  h2{
    text-align: center;
    padding: 1%;
}

.slider {
  max-width: 1000px;
  position: relative;
  margin: auto;
  
}

.elementoSlider {
   display: none;
   width: 100%;
   
}

.elementoSlider img {
    width: 100%;
    height: 40em;
}

.previo, .siguiente {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #000;
    font-weight: bold;
    font-size: 40px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.siguiente {
    right: 0;
    border-radius: 3px 0 0 3px;
}
  
.previo:hover, .siguiente:hover {
    background-color: rgba(41, 99, 193, 0.6);
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

.tituloElemento {
    text-align: center;
    font-size: 24px;
    background-color: #543716;
    color: #F2F7FC;
    font-weight: bold;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes scroll {
    0% {
        transform:tranlateX(0);
    }
    100% {
        transform:tranlateX(calc(-400px * 3));
    }
}


/*INICIO DE SESIÓN / REGISTRAR*/

.formulario {
    width: 25em;
    display: flex;
    flex-direction: column;
    margin: auto;
    background-color: #F2F2F2;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.formulario input[type="password"],
.formulario input[type="text"],
.formulario input[type="email"] {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #7e7e7e;
    border-radius: 4px;
    box-sizing: border-box;
}
.formulario input[type="submit"] {
    background-color: #163454;
    color: #F2F7FC;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.formulario input[type="submit"]:hover {
    background-color: #5893D4;
}

.formulario h2 {
    margin-inline: auto;
    padding-bottom: 10px;
}

.formulario a {
    color: #163454;
    font-weight: bold;
}

.usuarios {
    display: flex;
    flex-direction: column;
}

/*Inicio Sesion*/
#recuperarContrasenna{
    margin-left: auto;
}

/*Registrar*/
#volver {
    float: right;
    margin-right: 1%;
    margin-top: 2%;
}

#noConicidenciaContrasennas {
    color: red;
    display: none;
}


/*SERVICIOS*/

.articuloServicios {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.descripcionServicios {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.descripcionServicios h1{
    width: 100%;
    text-align: center;
    font-size: 2.5em;
    background-color: #163454;
    padding: 0.2em;
    color: #F2F7FC;
}

.descripcionServicios p{
    padding: 1em;
    font-size: 1.1em;
    background-color: #F2F7FC;
}

#tituloTiposCitas{
    width: 80%;
    margin-top: 5%;
    background-color: #163454;
    color: #F2F7FC;
    text-align: center;
    text-decoration: underline;
}

.tiposCitas {
    width: 80%;
    height: auto; /*Necesario para que el wrap no se superponga*/
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1em;
}

.tiposCitas h3{
    text-align: center;
    background-color: #163454;
    color: #F2F7FC;
}

.citas {
    width: 25em; /*Un with estatico permite que el wrap funcione*/
    margin: 0.5em;
    
}

.citas p {
    font-size: 1.2em;
    background-color: #F2F7FC;
    border: 0.2em solid #163454;
    padding: 0.2em;
}

.informacionMedicos {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin-top: 3%;
    background-color: #F2F7FC;
}

.informacionMedicos h2 {
    width: 100%;
    text-align: center;
    background-color: #163454;
    color: #F2F7FC;
}

.informacionMedicos h3 {
    color: #5893D4;
}

.especialidades {
    padding: 1em;
    width: 100%;
}


/*AGENDAR CITAS*/
.formularioAgendarCitas h2{
    width: 100%;
    background-color: #163454;
    color: #F2F7FC;
    text-align: center;
}

.agentarCitasSection div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 3% 0;
}

.agentarCitasSection div h3 {
    margin-right: 10%;
}

.agentarCitasSection div input, .agentarCitasSection div select {
    width: 50%;
    height: 2em;
}

#botonesAgendarCitas {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#botonesAgendarCitas input{
    width: auto;
    height: auto;
    margin-top: 2%;
}

/*Calendario*/
.contenedorCalendario {
    width: 25em;
    display: flex;
    flex-direction: column;
    margin: 2em auto;
    background-color: #F2F2F2;
    border-radius: 10px;
}

.contenedorCalendario h3 {
    padding: 1em;
    text-align: center;
    font-size: 1.4em;
    background-color: #163454;
    color: #F2F7FC;
}

#barraCalendario {
    display: flex;
    align-items: center;
    padding: 25px 30px 10px;
    justify-content: space-between;
}

#barraCalendario .fechaActual {
    font-size: 1.45em;
    font-weight: bold;
}

#barraCalendario .botonesCalendario a {
    font-size: 1.5em;
    margin: 0 5px;
    cursor: pointer;
    text-align: center;
    border-radius: 50%;
    line-height: 30px;
    padding: 0.3em;
    background-color: rgba(0, 0, 0, 0.2);
}

#barraCalendario .botonesCalendario a:hover {
    background: #5893D4;
}

.calendario ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    text-align: center;
}

.calendario .dias {
    margin-bottom: 1em;
}

.calendario .semanas li {
    background: #5893D4;
    font-weight: bold;
}

.calendario .dias li {
    z-index: 1;
    cursor: pointer;
    margin-top: 1.5em;
    font-weight: bold;
}

.dias li.diaPasado {
    color: #cac8c8;
    font-weight: bold;
}

.dias li.diaAgendado {
    color: #F2F7FC;
}

.calendario ul li {
    position: relative;
    width: calc(100%/7);
}

.calendario .dias li::before {
    position: absolute;
    content: "";
    width: 2em;
    height: 2em;
    top: 50%;
    left: 50%;
    z-index: -1;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.dias li:hover::before {
    background: #bcdafa;
}

.dias li.diaAgendado::before {
    background: green;
}

/*INFORMACIÓN CONTACTO*/
.contactoArticulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
}

.contactoArticulo h1{
    text-align: center;
    font-size: 2.5em;
}

#descripcionInformacionContacto {
    text-align: center;
    font-size: 1.3em;
}

.contenedorInformacion {
    width: 100%;
    display: flex;
    margin: 3%;
}

.contactos {
    width: 100%;
    padding: 0.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 0.5em #5893D4 solid;
}

.contactos h2{
    font-size: 1.5em;
}

.contactos p{
    font-size: 1.3em;
    padding-bottom: 5%;
}

iframe {
    width: 100%;
    height: 450px; 
    border: 0;
}

.consultasGenerales {
    width: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.consultasGenerales form{
    width: 100%;
    height: 25em;
    padding: 1em;
    color: #F2F7FC;
    background-color: #163454;
}

.consultasGenerales h2 {
    text-align: center;
    font-size: 2em;
    background-color: #5893D4;
}

.formConsultas {
    display: flex;
    flex-direction: column;
    
}

.consultasGenerales label {
    font-size: 1.3em;
    padding-bottom: 1%;
    padding-top: 3%;
}

.consultasGenerales textarea {
    resize: none;
}

#enviarConsulta {  
    margin: 3% auto;
    font-weight: bold;
    font-size: 1.3em;
    width: 4em;
}

/*BUSCAR MÉDICOS*/
.articuloBuscarMedicos{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formularioBuscarMedicos {
    width: 60%;
}

.formularioBuscarMedicos h2{
    width: 100%;
    text-align: center;
    background-color: #163454;
    color: #F2F7FC;
    margin-bottom: 1em;
}

.formularioBuscarMedicos label{
    font-size: 1.3em;
    font-weight: bold;
}

.formularioBuscarMedicos form{
    width: 100%;
    display: flex;
    flex-direction: column;
}

#inputsBusqueda {
    display: flex;
    align-items: center;
    padding: 0.5em;
}

#inputsBusqueda input {
    width: 50%;
    margin-right: 1em;
}

#inputsBusqueda select {
    width: 25%;
    height: 3em;
    font-weight: bold;
    margin-right: 1em;
}

.contenedorTabla {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1em;
}

.resultados {
    border-collapse: collapse;
    
}

.contenedorTabla h2 {
    text-align: center;
    background-color: #5893D4;
    width: 100%;
    border: 0.1em solid #000;
    
}

.contenedorTabla th {
    background-color: #163454;
    padding: 1em;
    color: #F2F7FC;
    border: 0.1em solid #000;
}

.contenedorTabla td {
    padding: 1em;
    border: 0.1em solid #000;
}

.contenedorTabla td button{
    background-color: #5893D4;
    border: 0;
    cursor: pointer;
    padding: 3px 7px;
    color: #F2F7FC;
}

#paginacion {
    margin-top: 1em;
}

#paginacion button{
    margin-left: 0.5em;
    font-size: 1.1em;
    padding: 0.1em 0.3em;
}

#modalInformacionMedico {
    position: fixed;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 0; 
    top: 0;
}

.contenidoModal {
    width: 30em;
    max-height: 65%;
    background-color: #F2F7FC;
    display: flex;
    flex-direction: column;
    padding: 1em;
    align-items: center;
    overflow: auto;
}

.contenidoModal h2 {
    width: 100%;
    text-align: center;
    background-color: #163454;
    color: #F2F7FC;
}

.contenidoModal span {
    margin-left: auto;
    font-size: 3em;
    font-weight: bold;
}

#informacionMedico {
    margin-top: 1em;
    width: 100%;
    padding: 1em;
}

#informacionMedico h3 {
    font-size: 1.3em;
    color: #F2F7FC;
    background-color: #5893D4;
    border-top: 2px solid #163454;
    border-left: 2px solid #163454;
    border-right: 2px solid #163454;
    padding: 0.2em;
}

#informacionMedico p {
    font-weight: bold;
    font-size: 1.1em;
    margin-bottom: 3%;
    display: flex;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    border-bottom: 2px solid #163454;
    border-left: 2px solid #163454;
    border-right: 2px solid #163454;
    padding-left: 0.5em;
    overflow: auto;
}

#informacionMedico ul {
    font-weight: bold;
    font-size: 1.1em;
    margin-bottom: 3%;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    border-bottom: 2px solid #163454;
    border-left: 2px solid #163454;
    border-right: 2px solid #163454;
    padding-left: 1em;
}

#informacionMedico li {
    margin-left: 1em;
}

.cerrarModal:hover {
    color: red;
    cursor: pointer;
}

/*PREGUNTAS FRECUENTES*/

.contenedorPreguntas {
    width: 100%;
    max-width: 50em;
    margin: auto;
    margin-top: 5em;
}

.contenedorPreguntas h1{
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 1.1em;
    color: #163454;
    text-decoration: underline;
}

.preguntas {
    padding-bottom: 5%;
}

.preguntas label {
    display: block;
    padding: 1.25em;
    font-size: 1.25em;
    background: #163454;
    color: #F2F7FC;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 0.125em;
    transition: all 300ms ease;
}

.preguntas label:hover {
    background: #5893D4;
}

.preguntas .respuestas {
    padding: 0;
    margin: 0;
    max-height: 0;
    overflow: hidden;
    background: #F2F7FC;
    transition: all 300ms ease;
}

.preguntas .respuestas h2 {
    font-size: 1.2em;
}

.preguntas .respuestas p, h2 {
    padding: 1%;
}

.btn-pregunta:checked ~ .respuestas {
    max-height: 37.5em;
    padding: 15px;
}

.btn-pregunta {
    display: none;
}

/*SOBRE NOSOTROS*/

.sobreNosotros {
    display: flex;
    flex-direction: column;
    align-items: center; /*Modifica en horizontal el flex ser vertical por colum*/
}

.sobreNosotros .secciones {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.sobreNosotros h1 {
    text-align: center;
    font-size: 2.7em;
    padding: 20px;
}
.sobreNosotros h2 {
    font-size: 2em;
    text-align: center;
    margin-top: 1%;
    margin-bottom: 1%;
}

.sobreNosotros h3 {
    font-size: 1.2em;
}

.sobreNosotros p {
    width: 100%;
    font-size: 1.2em;
    margin-bottom: 0.5%;
}

.valores {
    margin-left: 5%;
}

.equipo {
    margin-top: 20px;
    text-align: center;
    display: flex;
    width: auto;
    justify-content: center;
    flex-wrap: wrap;
}

.equipo .miembroEquipo {
    width: 47%;
    margin: 5px;
    background: #F2F7FC;
    border: solid;
    border-color: #adcced;
    padding: 20px 10px;
}

.equipo .miembroEquipo .miembroImagen{
    background: #adcced;
    max-width: 18em;
    width: 100%;
    height: 20em;
    margin:  0 auto;
    border-radius: 50%;
    padding: 5px;
    position: relative;
}

.equipo img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.equipo .miembroEquipo h4{
    text-transform: uppercase;
    font-size: 1.125em;
    line-height: 1.125em;
    letter-spacing: 2px;
    margin: 15px 0 0;
}

.equipo .miembroEquipo span{
    font-size: 0.9em;
}

.equipo .miembroEquipo p{
    margin-top: 5%;
    font-size: 1em;
    line-height: 100%;
}

/*POLITICA PRIVACIDAD Y TERMINO USO*/

#tituloPolitica {
    text-align: center;
    background-color: #163454;
    color: #F2F7FC;
    padding: 20px;
    font-size: 1.7em;
    text-decoration: underline;
}

.politicas #descripcionPoliticas {
    font-size: 1.4em;
    text-align: center;
    margin-top: 1%;
}

.seccionesPrivacidad h2 {
    font-size: 1.4em;
    text-align: center;
    margin-top: 1%;
    margin-bottom: 1%;
    background-color: #5893D4;
}

.seccionesPrivacidad p {
    font-size: 1.3em;
    margin-bottom: 0.5%;
}

.politicas #contenedorDescargarPolitcas {
    display: flex;
    justify-content: center;
}

.politicas #descargarPolitcas {
    padding: 0.5%;
    font-size: 1.35em;
    text-align: center;
    margin-top: 1%;
    width: auto;
    text-decoration: none;
    color: #F2F7FC;
    background-color: #163454;
}

/*RESPONSIVE*/
@media screen and (max-width:768px){
    
    .contenido {
        margin: 20px;
    }

    /*Responsive nav*/
    header label {
        display: block;
    }

    .menu {
        position: absolute;
        background-color: #5893D4;
        width: 50%;
        margin-left: -70%;
        z-index: 2; /*prioridad de dibujado*/
    }

    .menu ul {
        flex-direction: column;
    }

    .menu ul li {
        border-top: 1px solid #F2F7FC;
    }

    #btn-menu:checked ~ .menu {
        margin: 0;
    }

    .menu ul li button {
        padding: 15px 10px;
    }

    /*Responsive Index*/
    .descripcion {
        font-size: 1em;
    }

    .elementoSlider img {
        height: 15em;
    }

    /*Responsive Inicio Sesion*/
    #tituloGeneral {
        font-size: 2em;
    }
    .formulario {
        width: 100%;
    }
    input[type="text"],
    input[type="password"] {
        width: 100%;
    }

    /*Responsive Agendar Citas*/
    .contenedorCalendario {
        width: 100%;
    }
    #barraCalendario .botonesCalendario a {
        font-size: 1em;
        margin: 0 3px;
    }

    
    /*Responsive Servicios*/
    .descripcionServicios, #tituloTiposCitas, .tiposCitas, .informacionMedicos, .especialidades {
        width: 100%;
    }

    /*Responsive Informacion Contacto*/
    .contenedorInformacion {
        flex-wrap: wrap;
    }
    .consultasGenerales {
        width: 90%;
    }

    /*Responsive Buscar Medicos*/
    .resultados {
        font-size: 35%;
        font-weight: bold;
    }

    .contenidoModal {
        width: 90%;
    }

    /*Responsive Sobre Nosotros*/
    .articulos {
        width: 100%;
    }
    .sobreNosotros .secciones {
        width: 100%;
    }
    .sobreNosotros h3 {
        font-size: 1.1em;
    }
    .sobreNosotros p {
        font-size: 1em;
    }
    .equipo .miembroEquipo {
        width: 100%;
    }

    /*Respoinsive Politicas*/
    .politicas {
        padding: 5px;
    }

    .politicas #descripcionPoliticas {
        font-size: 1.1em;
    }

    .seccionesPrivacidad {
        width: 100%;
    }

    .seccionesPrivacidad h2 {
        width: 100%;
        font-size: 1.2em;
    }

    .seccionesPrivacidad p {
        width: 100%;
        font-size: 0.9em;
    }
}

/*Responsive Ipad Mini 768px*/
@media screen and (width:768px){
    .contenido {
        margin: 30px;
    }
    
    .formulario {
        width: 25em;
    }
    .equipo .miembroEquipo {
        width: 47%;
    }
    .articulos {
        width: 90%;
    }
    .consultasGenerales {
        width: 70%;
    }
    .descripcionServicios, #tituloTiposCitas, .tiposCitas, .especialidades {
        width: 80%;
    }
    .informacionMedicos {
        width: 50%;
    }
    .contenidoModal {
        width: 30em;
    }
    .resultados{
        font-size: 100%;
    }
    .contenedorCalendario {
        width: 25em;
    }
    #barraCalendario .botonesCalendario a {
        font-size: 1em;
        margin: 0 3px;
    }
}
