/*PALETA: color: #5893D4, #D49958, #543716, #FCF7F2, #163454, #F2F7FC;*/

/*ESTILOS GENERALES*/
*{ 
    padding: 0; /*ningún elemento tiene relleno adicional en su interior*/
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #F2F7FC;
}

header {
    width: 100%;
    background-color: #5893D4;
}

#tituloGeneral {

    text-align: center;
    background-color: #163454;
    color: #F2F7FC;
    padding: 20px;
    font-size: 2.5em;

}

main {
    min-height: 75vh;
}

.contenido {
    margin: 30px;
}

.articulos {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
}

.secciones{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

/*Navegacion*/

#btn-menu {
    display: none;
}

header label {
    display: none;
    width: 40px;
    height: 40px;
    padding: 0.25%;
}

header label:hover {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.3);
}

.menu ul {
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
}

.menu ul li {
    flex-grow: 1;
    text-align: center;
    border-right: 1px solid #F2F7FC;
}

.menu ul li:hover {
    background: rgba(0, 0, 0, 0.3);
}

.menu ul li a {
    display: block;
    padding: 15px 20px;
    color: #F2F7FC;
    text-decoration: none;
    font-weight: bold;
    font-size: 0.9em;
}

/*Animacion*/
.animacion {
    position: relative;
    display: flex;
    justify-content: center;
}

#logo {
    width: 300px;
    height: 300px;
    animation: rotation 3s infinite ;
}

@keyframes rotation{
    from {
        transform: scaleX(1);
    }
    to {
        transform: scaleX(-1); 
    }
}

/*Descripcion*/
.descripcion {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    font-size: 1.5em;
}

.descripcion h2 {
    text-align: center;
    font-size: 2em;
}


.descripcion p {
    padding-top: 20px;
}

/*Slider*/
.contenedorSlider  h2{
    text-align: center;
    padding: 1%;
}

.slider {
  max-width: 1000px;
  position: relative;
  margin: auto;
  
}

.elementoSlider {
   display: none;
   width: 100%;
   
}

.elementoSlider img {
    width: 100%;
    height: 40em;
}

.previo, .siguiente {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #000;
    font-weight: bold;
    font-size: 40px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.siguiente {
    right: 0;
    border-radius: 3px 0 0 3px;
}
  
.previo:hover, .siguiente:hover {
    background-color: rgba(41, 99, 193, 0.6);
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

.tituloElemento {
    text-align: center;
    font-size: 24px;
    background-color: #543716;
    color: #F2F7FC;
    font-weight: bold;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes scroll {
    0% {
        transform:tranlateX(0);
    }
    100% {
        transform:tranlateX(calc(-400px * 3));
    }
}

/*Footer*/
footer {
    position: static;
    width: 100%;
    background-color: #333;
    color: #F2F7FC;
    text-align: center;
    padding: 20px 0;
}

footer p {
    margin-bottom: 10px;
}

footer a {
    color: #F2F7FC;
    text-decoration: none;
    transition: color 0.3s ease;
}

footer a:hover {
    color: #F2F7FC;
}


/* INICIO DE SESIÓN*/

.formulario {
    width: 25em;
    display: flex;
    flex-direction: column;
    margin: auto;
    background-color: #F2F2F2;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.formulario input[type="password"],
.formulario input[type="text"],
.formulario input[type="email"] {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #7e7e7e;
    border-radius: 4px;
    box-sizing: border-box;
}
.formulario input[type="submit"] {
    background-color: #163454;
    color: #F2F7FC;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.formulario input[type="submit"]:hover {
    background-color: #5893D4;
}

.formulario h2 {
    margin-inline: auto;
    padding-bottom: 10px;
}

.formulario a {
    color: #163454;
    font-weight: bold;
}

.usuarios {
    display: flex;
    flex-direction: column;
}

#recuperarContrasenna{
    margin-left: auto;
}

#volver {
    float: right;
    margin-right: 1%;
    margin-top: 2%;
}

/*INFORMACIÓN CONTACTO*/
.contactoArticulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
}

.contactoArticulo h1{
    text-align: center;
    font-size: 2.5em;
}

#descripcionInformacionContacto {
    text-align: center;
    font-size: 1.3em;
}

.contenedorInformacion {
    width: 100%;
    display: flex;
    margin: 3%;
}

.contactos {
    width: 100%;
    padding: 0.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 0.5em #5893D4 solid;
}

.contactos h2{
    font-size: 1.5em;
}

.contactos p{
    font-size: 1.3em;
    padding-bottom: 5%;
}

iframe {
    width: 100%;
    height: 450px; 
    border: 0;
}

.consultasGenerales {
    width: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.consultasGenerales form{
    width: 100%;
    height: 25em;
    padding: 1em;
    color: #F2F7FC;
    background-color: #163454;
}

.consultasGenerales h2 {
    text-align: center;
    font-size: 2em;
    background-color: #5893D4;
}

.formConsultas {
    display: flex;
    flex-direction: column;
    
}

.consultasGenerales label {
    font-size: 1.3em;
    padding-bottom: 1%;
    padding-top: 3%;
}

.consultasGenerales textarea {
    resize: none;
}

#enviarConsulta {  
    margin: 3% auto;
    font-weight: bold;
    font-size: 1.3em;
    width: 4em;
}

/*PREGUNTAS FRECUENTES*/

.contenedorPreguntas {
    width: 100%;
    max-width: 50em;
    margin: auto;
    margin-top: 5em;
}

.contenedorPreguntas h1{
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 1.1em;
    color: #163454;
    text-decoration: underline;
}

.preguntas {
    padding-bottom: 5%;
}

.preguntas label {
    display: block;
    padding: 1.25em;
    font-size: 1.25em;
    background: #163454;
    color: #F2F7FC;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 0.125em;
    transition: all 300ms ease;
}

.preguntas label:hover {
    background: #5893D4;
}

.preguntas .respuestas {
    padding: 0;
    margin: 0;
    max-height: 0;
    overflow: hidden;
    background: #F2F7FC;
    transition: all 300ms ease;
}

.preguntas .respuestas h2 {
    font-size: 1.2em;
}

.preguntas .respuestas p, h2 {
    padding: 1%;
}

.btn-pregunta:checked ~ .respuestas {
    max-height: 37.5em;
    padding: 15px;
}

.btn-pregunta {
    display: none;
}

/*SOBRE NOSOTROS*/

.sobreNosotros {
    display: flex;
    flex-direction: column;
    align-items: center; /*Modifica en horizontal el flex ser vertical por colum*/
}

.sobreNosotros .secciones {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.sobreNosotros h1 {
    text-align: center;
    font-size: 2.7em;
    padding: 20px;
}
.sobreNosotros h2 {
    font-size: 2em;
    text-align: center;
    margin-top: 1%;
    margin-bottom: 1%;
}

.sobreNosotros h3 {
    font-size: 1.2em;
}

.sobreNosotros p {
    width: 100%;
    font-size: 1.2em;
    margin-bottom: 0.5%;
}

.valores {
    margin-left: 5%;
}

.equipo {
    margin-top: 20px;
    text-align: center;
    display: flex;
    width: auto;
    justify-content: center;
    flex-wrap: wrap;
}

.equipo .miembroEquipo {
    width: 47%;
    margin: 5px;
    background: #F2F7FC;
    border: solid;
    border-color: #adcced;
    padding: 20px 10px;
}

.equipo .miembroEquipo .miembroImagen{
    background: #adcced;
    max-width: 18em;
    width: 100%;
    height: 20em;
    margin:  0 auto;
    border-radius: 50%;
    padding: 5px;
    position: relative;
}

.equipo img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.equipo .miembroEquipo h4{
    text-transform: uppercase;
    font-size: 1.125em;
    line-height: 1.125em;
    letter-spacing: 2px;
    margin: 15px 0 0;
}

.equipo .miembroEquipo span{
    font-size: 0.9em;
}

.equipo .miembroEquipo p{
    margin-top: 5%;
    font-size: 1em;
    line-height: 100%;
}

/*POLITICA PRIVACIDAD Y TERMINO USO*/

#tituloPolitica {
    text-align: center;
    background-color: #163454;
    color: #F2F7FC;
    padding: 20px;
    font-size: 1.7em;
    text-decoration: underline;
}

.politicas #descripcionPoliticas {
    font-size: 1.4em;
    text-align: center;
    margin-top: 1%;
}

.seccionesPrivacidad h2 {
    font-size: 1.4em;
    text-align: center;
    margin-top: 1%;
    margin-bottom: 1%;
    background-color: #5893D4;
}

.seccionesPrivacidad p {
    font-size: 1.3em;
    margin-bottom: 0.5%;
}

.politicas #contenedorDescargarPolitcas {
    display: flex;
    justify-content: center;
}

.politicas #descargarPolitcas {
    padding: 0.5%;
    font-size: 1.35em;
    text-align: center;
    margin-top: 1%;
    width: auto;
    text-decoration: none;
    color: #F2F7FC;
    background-color: #163454;
}

/*RESPONSIVE*/
@media screen and (max-width:768px){
    
    /*Responsive nav*/
    header label {
        display: block;
    }

    .menu {
        position: absolute;
        background-color: #5893D4;
        width: 50%;
        margin-left: -70%;
        z-index: 2; /*prioridad de dibujado*/
    }

    .menu ul {
        flex-direction: column;
    }

    .menu ul li {
        border-top: 1px solid #F2F7FC;
    }

    #btn-menu:checked ~ .menu {
        margin: 0;
    }

    /*Responsive Index*/
    .descripcion {
        font-size: 1em;
    }

    .elementoSlider img {
        height: 15em;
    }

    /*Responsive Inicio Sesion*/
    #tituloGeneral {
        font-size: 2em;
    }
    .formulario {
        width: 100%;
    }
    input[type="text"],
    input[type="password"] {
        width: 100%;
    }

    /*Responsive Informacion Contacto*/
    .contenedorInformacion {
        flex-wrap: wrap;
    }
    .consultasGenerales {
        width: 90%;
    }

    /*Responsive Sobre Nosotros*/
    .articulos {
        width: 100%;
    }
    .sobreNosotros .secciones {
        width: 100%;
    }
    .sobreNosotros h3 {
        font-size: 1.1em;
    }
    .sobreNosotros p {
        font-size: 1em;
    }
    .equipo .miembroEquipo {
        width: 100%;
    }

    
    /*Respoinsive Politicas*/
    .politicas {
        padding: 5px;
    }

    .politicas #descripcionPoliticas {
        font-size: 1.1em;
    }

    .seccionesPrivacidad {
        width: 100%;
    }

    .seccionesPrivacidad h2 {
        width: 100%;
        font-size: 1.2em;
    }

    .seccionesPrivacidad p {
        width: 100%;
        font-size: 0.9em;
    }
}

/*Responsive Ipad Mini 768px*/
@media (width:768px){
    .formulario {
        width: 25em;
    }
    .equipo .miembroEquipo {
        width: 47%;
    }
    .articulos {
        width: 90%;
    }
    .consultasGenerales {
        width: 70%;
    }
}
